# Virtual environment
myvenv/

# IDE and editor directories
.idea/
.vscode/

# Byte-compiled files
__pycache__/

# Files with Zone.Identifier suffix
Logistic_Regression/*.py:Zone.Identifier
logistic_regression.py:Zone.Identifier
main.py:Zone.Identifier
options.py:Zone.Identifier
plot.py:Zone.Identifier
