myvenv/
.idea/
.vscode/
__pycache__/
Logistic_Regression/logistic_regression.py:Zone.Identifier
Logistic_Regression/main.py:Zone.Identifier
Logistic_Regression/plot.py:Zone.Identifier
__pycache__/logistic_regression.cpython-310.pyc
__pycache__/options.cpython-310.pyc
